:root {
    background-color: rgba(242, 242, 242, 0.2);
}



.column {
   
    
    background-color: rgba(242, 242, 242, 0.2);
}

.title {
    text-align: center;
    text-decoration: underline solid 5px rgba(252, 175, 22, 0.8);
    font-family: 'Courier New', Courier, monospace;
    padding-top: 15px;
    padding-bottom: 25px;
    /* change */
    background-color: rgba(242, 242, 242, 0.2);
    
}

.left {
   padding-left: 50px;
   padding-right: 40px;
   width: 45%;
}

.right {
    width: 54%;
}

p {
    font-size: 25px;
    width: auto;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 40px;
  }


