header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.img-fluid {
  width: 1180px;
  height: 300px;
}


.row {
  margin-bottom: 20px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(246, 246, 246, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.featured-image {
background-color: rgb(0, 0, 0, 0.8);
}

/* adjust padding to 4 direction 25, 0 , 25, 0 */
footer {
 padding-top: 25px;
 padding-bottom: 25px;
 text-align: center;
}



/* media break points */

@media screen and (max-width: 980px) {
.img-fluid {
  max-width: 100%;
  height: auto;
 }
}

