body {
    background-color:darkolivegreen;
}

header h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;

}

nav ul li {
    border-style: solid;
    border-radius: 25px;
    padding: 45px;
}

#about-me h2 {
    text-align: center;
    text-decoration:underline;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me-img {
    width: 400px;
    float:left;
}

.about-me-content {
    float: right;
}

#portfolio {
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.portfolio ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.portfolio ul li {
    flex: 50%;
    font-size: 25px;
    
}

.portfolio-main {
    flex: 100%;
    border-style: solid;
    text-align: center;
    background-color: lightblue;
    
}

.portfolio-main-img {
    
    max-height: 400px;
    max-width: fit-content;
}

