body {
    background-color:darkolivegreen;
}

header h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li {
    border-style: solid;
    border-radius: 25px;
    padding: 45px;
    background-color: cornsilk;
}

#about-me h2 {
    text-align: center;
    text-decoration:underline;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me-img {
    width: 400px;
    float:left;
}

.about-me-content {
    float: right;
}

#portfolio {
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.portfolio ul {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.portfolio ul li {
    flex: 50%;
    font-size: 25px;
    background-color: lightgrey;
}

.portfolio-main {
    flex: 100%;
    border-style: solid;
    text-align: center;
}

.portfolio-main-img {
    max-height: 400px;
    max-width: fit-content;
}

.portfolio-img-secondaries {
    max-height: 350px;
    width: 300px;
}

#contact {
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.contact-info h3 {
    background-color: cornsilk;
}

footer {
    text-align: center;
    width: 100%;
    text-decoration: overline;
}

/*With current site layout only the 575px screen size needed to be adjusted */
@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
 .portfolio ul li {
        border-style: solid;
        text-align: center;
    }
}