:root {
    --li-background-color: #362b00; 
}

body {
    background-color: #445626;
    font-size: 20px;
    color: white;
}

header h1 {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.ul-style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

nav ul {
  justify-content: space-evenly;
}

nav ul li {
    border-style: solid;
    border-radius: 25px;
    padding: 45px;
    background-color: var(--li-background-color);
}

#about-me h2 {
    text-align: center;
    text-decoration:underline;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-me-img {
    width: 400px;
    float:left;
}

.about-me-content {
    float: right;
}

.id-style {
    text-align: center;
    text-decoration: underline;
    width: 100%;
}

.portfolio ul {
    justify-content: center;
}

.portfolio ul li {
    border-style: solid;
    border-radius: 25px;
    padding: 25px;
    background-color: var(--li-background-color);
}

.portfolio-main {
    border-style: solid;
    text-align: center;
    flex:100%;
}

.portfolio-main-img {
    max-height: 400px;
    max-width: fit-content;
}

.portfolio-img-secondaries {
    max-height: 350px;
    width: 300px;
}

footer {
    text-align: center;
    width: 100%;
    text-decoration: overline;
}

/*With current site layout only the 575px screen size needed to be adjusted */
@media screen and (max-width: 980px) {
    body{
        font-size: 25px;
}
    .portfolio ul li {
        flex:100%;
}
}

@media screen and (max-width: 768px) {
    .portfolio ul li {
        border-style: solid;
        text-align: center;
}
    
    .portfolio-main-img {
        width: 550px;
}
}

@media screen and (max-width: 575px) {
    .portfolio ul li {
        border-style: solid;
        text-align: center;
}
    
    .portfolio-main-img {
        width: 450px;
}
    
    .ul-style {
        display: block;
}
}